html {
    background-color: seashell;
}

.welcome-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 400px;
    height: 400px;
}

button {
    width: 200px;
    padding: 10px;
    background-color: black;
    color: white;
}