html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: seashell;
}

.flex-title {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

#Logo {
    float: left;
    width:300px;
    height: 300px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#PageTitle {
    text-align: center;
    font-size: 60px;
    align-self: center;
}

.flex-headers {
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}

.nav-button {
    background-color: white;
    font-size: 30px;
    width: 25%;
    cursor: pointer;
}

#HomeButton {
    background-color: black;
    color: white;
}

.flex-container {
    display: flex;
    background-color: aqua;
}