html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: seashell;
}

.flex-title {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

#Logo {
    width: 300px;
    height: 300px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#PageTitle {
    text-align: center;
    font-size: 60px;
    align-self: center;
}

.flex-headers {
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}

.nav-button {
    background-color: white;
    font-size: 30px;
    width: 25%;
    cursor: pointer;
}

#ScheduleButton {
    background-color: black;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr auto;
}

.header {
    grid-column: 1/5;
    grid-row: 1/2;
}

.schedule-main {
    grid-column: 1/5;
    grid-row: 2/3;
}

.schedule-main > h2 {
    text-align: center;
}

form {
    background-color: white;
    display: none;
}

form > label, input {
    size: 20px;
    width: 300px;
    height: 25px;
}