/* General styles */
html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: seashell;
}

/* Grid container */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr auto;
}

/* Header container */
.header {
    grid-column: 1/5;
    grid-row: 1/2;
}

/* Header container content */
.flex-title {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

#Logo {
    width: 300px;
    height: 300px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#PageTitle {
    text-align: center;
    font-size: 60px;
    align-self: center;
}

.flex-headers {
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}

.nav-button {
    background-color: white;
    font-size: 30px;
    width: 25%;
    cursor: pointer;
}

#ScheduleButton {
    background-color: black;
    color: white;
}

/* Main container */
.schedule-main {
    grid-column: 1/5;
    grid-row: 2/6;
}

/* Main container content */
form {
    margin-left: 25%;
    width: 50%;
    background-color: white;
    padding: 10px;
}

form > h3 {
    text-align: center;
}

.text-label {
    width: 100px;
    display: inline-block;
    text-align: center;
    margin: 8px;
    font: 14pt sans-serif;
 }

 .button-label {
    width: 50px;
    display: inline-block;
    text-align: left;
    margin-right: 40px;
    font: 14pt sans-serif;
 }

input[type=text], input[type=email], select {
    box-sizing: border-box;
    width: 250px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
 }

 input[type=submit] {
    width: 200px;
    background-color: white;
    color: black;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    
 }

 input[type=submit]:hover {
    background-color: black;
    color: white;
 }

 textarea {
    width: 90%;
 }